* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    padding: 20px;

}

h1 {
    background-color: rgb(55, 94, 55);
    color: red;
    text-align: center;
    font-size: 25px
    
    
}
form {
    display: box-flex;
    border: solid;
    border-color: antiquewhite;
    padding: 20px;
    text-align: center;
}

input {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

}



div{
    padding:10px
    
}

nav {
    border: solid;
    border-color: white;
    width: 200px;
    padding: 10px;
    display: flex;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

}

.btn {
    width: 200px;
    padding: 10px;
    background-color: pink
    color: blue;
}

footer {
    text-align: center;

}