<!DOCTYPE html>
<html lang="en">
<html xmlns:th="//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">

    <title>Atualizar Dados</title>
</head>
<body>
<form method="GET" action="/user/atualiza" th:object="${userModel}">
    <input type="hidden" th:value="${userModel.id}" name="id" />

    <input type="text" class="form-control" name="username" th:value="${userModel.username}">


    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone</th>
            <th scope="col">#</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="userModel : ${userModel}">
            <td data-th-text="${userModel.id}"></td>
            <td data-th-text="${userModel.nome}"></td>
            <td data-th-text="${userModel.username}"></td>
            <td data-th-text="${userModel.email}"></td>
            <td data-th-text="${userModel.telefone}"></td>

        </tr>

</form>

</body>
</html>