<!DOCTYPE html>
<html lang="pt-br">
<html xmlns:th="//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exclui Usuário</title>
</head>
<body>
  <header>
    <h1>Atualizar dados:</h1>
  </header>
  <main>

    <form action="/user/deletauser" method="POST" th:object="${userModel}">
      <div>
        <label for="iduser">ID:</label>
        <input type="text" id="iduser" name="idUser" th:value="${userModel.id}">
      </div>
      <div>
        <label for="name">Nome:</label>
        <input type="text" id="name" name="nome" th:value="${userModel.nome}">
      </div>
      <div>
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" name="email" th:value="${{userModel.email}}">
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Atualiza</button>
      </div>

    </form>
  </main>
  <footer>
    <p>Vanessa Randis</p>
  </footer>





  <script src="script-deleta.js"></script>

</body>
</html>